<!DOCTYPE html>
<html lang="en">
<head>
	<title>Guitar Gods Administrator Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Shows various famous guitarists and facts about them.">
	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
	<link rel="apple-touch-icon" sizes="180x180" href="../static/media/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/media/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/media/favicon-16x16.png">
	<link rel="manifest" href="../site.webmanifest">
</head>
<body>
	<div id="wrapper">
	<header>
	<h1 id="topofpage"><a href="/admin">Guitar Gods Administrator Pages</a></h1>
</header>
<nav>
	<a href="/">Home</a>
	<a href="/songs">Song Suggestions</a>
	<a href="/contact">Contact</a>
</nav>
<p><b>Use the nav above to go back to any of the public pages.</b></p>
<br>
<nav class="adminnav">
    <button class="button" onclick="document.location='/newguitarist'">New Guitarist</button>
	<button class="button" onclick="document.location='/newsong'">New Song</button>
    <button class="button" onclick="document.location='/readallguitarists'">Read All Guitarists</button>
	<button class="button" onclick="document.location='/readallsongs'">Read All Songs</button>
    <button class="button" onclick="document.location='/updateguitarist'">Update Guitarist</button>
	<button class="button" onclick="document.location='/updatesong'">Update Song</button>
    <button class="button" onclick="document.location='/readDeleteGuitarist'">Delete Guitarist</button>
	<button class="button" onclick="document.location='/readDeleteSong'">Delete Song</button>
</nav>
{% block main %}
{% endblock %}
</div>
</body>
</html>