<!DOCTYPE html>
<html lang="en">
<head>
	<title>Guitar Gods: Unknown and Well-Known</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Shows various famous guitarists and facts about them.">
	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
	<link rel="apple-touch-icon" sizes="180x180" href="../static/media/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/media/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/media/favicon-16x16.png">
	<link rel="manifest" href="../site.webmanifest">
</head>
<body>
	<div id="wrapper">
	<header>
	<h1 id="topofpage"><a href="/">Guitar Gods: Unknown and Well-Known</a></h1>
</header>
<nav>
	<a href="/">Home</a>
	<a href="/songs">Song Suggestions</a>
	<a href="/contact">Contact</a>
</nav>
{% block main %}
{% endblock %}
<div id="sticky"><a href="#topofpage">Return to Top of Page</a></div>
<br>
<footer>
	<p>Copyright &copy; 2021 Joseph Martinez</p>
	<p>I do not own any rights to any photos, music or videos displayed on this website. All rights go to their respective owner(s).</p>
	<script>
<!-- Hide JavaScript...
var LastUpdated = document.lastModified;
document.writeln ("This page was last updated " + LastUpdated);
// End Hiding -->
</script>
	<a href="/contact">Contact Me!</a>
	<a href="mailto:josephmartinez57@amarillocollege.com">Email</a>
</footer>
</div>
</body>
</html>