{% extends "base.html" %}
{% block main %}
<main>
	<p><b>If you want to contact me or give feedback, please fill out this form and hit submit!</b></p>
	<div class="container">
	<form method="post" action="https://webdevbasics.net/scripts/demo.php" autocomplete="on">
		<label for="fname">*First Name:</label>
		<input type="text" id="fname" name="fname" required placeholder="John" autofocus tabindex="1">

		<label for="lname">*Last Name:</label>
		<input type="text" id="lname" name="lname" required placeholder="Doe" tabindex="2">

		<label for="favorite">Who was your favorite guitarist:</label>
		<select id="favorite" name="favorite" tabindex="3">
			<option value="default">Choose your favorite guitarist!</option>
			<option value="buckethead">Buckethead</option>
			<option value="dimebag">Dimebag Darrell</option>
			<option value="vhalen">Eddie Van Halen</option>
			<option value="gmoore">Gary Moore</option>
			<option value="jhanneman">Jeff Hanneman</option>
			<option value="jpetrucci">John Petrucci</option>
			<option value="rrhoads">Randy Rhoads</option>
			<option value="svai">Steve Vai</option>
			<option value="srv">Stevie Ray Vaughan</option>
			<option value="ymalmsteen">Yngwie Malmsteen</option>
		</select>

		<label for="email">Email:</label>
		<input type="email" id="email" name="email" placeholder="example@email.com" tabindex="4">

		<label for="comment">Comments:</label>
		<textarea id="comment" name="comment" rows="10" cols="40" placeholder="Feel free to leave a comment!" tabindex="5"></textarea>

		<input type="submit" value="Submit" tabindex="6">
	</form>
</div>
</main>
{% endblock %}