{% extends "base.html" %}
{% block main %}
<main>
	<p><b>Check out some video suggestions I have linked under each band or musician! I hope you find something your looking for!</b></p>
	<ul>
		<li><a href="#bheadsuggest">Skip to Buckethead</a></li>
		<li><a href="#dimebagsuggest">Skip to Dimebag Darrell</a></li>
		<li><a href="#vhalensuggest">Skip to Eddie Van Halen</a></li>
		<li><a href="#gmooresuggest">Skip to Gary Moore</a></li>
		<li><a href="#jhannemansuggest">Skip to Jeff Hanneman</a></li>
		<li><a href="#jpetruccisuggest">Skip to John Petrucci</a></li>
		<li><a href="#rrhoadssuggest">Skip to Randy Rhoads</a></li>
		<li><a href="#svaisuggest">Skip to Steve Vai</a></li>
		<li><a href="#srvsuggest">Skip to Stevie Ray Vaughan</a></li>
		<li><a href="#ymalmsteensuggest">Skip to Yngwie Malmsteen</a></li>
	</ul>
	<!-- Buckethead -->
	<table>
		<tr>
			<th colspan="3" id="bheadsuggest"><a href="index.html#bhead">Buckethead</a></th>
		</tr>
		<tr>
			<!-- Jordan -->
			<td headers="bheadsuggest"><iframe title="Audio video of Jordan by Buckethead" width="260" src="https://www.youtube-nocookie.com/embed/Y-NjZp7Aurg"></iframe><p>Jordan</p></td>
			<!-- Soothsayer -->
			<td headers="bheadsuggest"><iframe title="Audio video of Soothsayer by Buckethead" width="260" src="https://www.youtube-nocookie.com/embed/adV8-_hgL4g"></iframe><p>Soothsayer</p></td>
			<!-- Whitewash -->
			<td headers="bheadsuggest"><iframe title="Audio video of Whitewash by Buckethead" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b6b02377d99f0070d0e5e0"></iframe><p>Whitewash</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="bheadsuggest"><a href="https://open.spotify.com/artist/0fDF0jjmdouCIeWhNnblwV?si=ozOR9GWwR5mt7xqckk6vXw" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- Dimebag Darrell -->
	<table>
		<tr>
			<th colspan="3" id="dimebagsuggest"><a href="index.html#dimebag">Pantera (Dimebag Darrell)</a></th>
		</tr>
		<tr>
			<!-- Floods -->
			<td headers="dimebagsuggest"><iframe title="Audio video of Floods by Pantera" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b134b12e7701010470b182"></iframe><p>Floods</p></td>
			<!-- Strength Beyond Strength -->
			<td headers="dimebagsuggest"><iframe title="Audio video of Strength Beyond Strength by Pantera" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b139a79224b800295fe547"></iframe><p>Strength Beyond Strength</p></td>
			<!-- Pre-Hibernation Week -->
			<td headers="dimebagsuggest"><iframe title="Audio video of Pre-Hibernation Week by Pantera" width="260" src="https://www.youtube-nocookie.com/embed/qEFKJsWbmW8"></iframe><p>Pre-Hibernation Week</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="dimebagsuggest"><a href="https://open.spotify.com/artist/14pVkFUHDL207LzLHtSA18?si=WSH22VdcSfaEEKz7jUHavA" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- Eddie Van Halen -->
	<table>
		<tr>
			<th colspan="3" id="vhalensuggest"><a href="index.html#vhalen">Van Halen (Eddie Van Halen)</a></th>
		</tr>
		<tr>
			<!-- Eruption -->
			<td headers="vhalensuggest"><iframe title="Concert footage of Eddie Van Halen playing Eruption" width="260" allowfullscreen referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13a027574e700ec864cfd"></iframe><p>Eruption (Live)</p></td>
			<!-- Hot for Teacher -->
			<td headers="vhalensuggest"><iframe title="Audio video of Hot for Teacher by Van Halen" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13acebcd82100f2e3925b"></iframe><p>Hot for Teacher</p></td>
			<!-- Jump -->
			<td headers="vhalensuggest"><iframe title="Audio video of Jump by Van Halen" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13b0c0a2d0a00f9b317c5"></iframe><p>Jump</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="vhalensuggest"><a href="https://open.spotify.com/artist/2cnMpRsOVqtPMfq7YiFE6K?si=IYi6g1hMSYC99UUjVyibQA" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- Gary Moore -->
	<table>
		<tr>
			<th colspan="3" id="gmooresuggest"><a href="index.html#gmoore">Gary Moore</a></th>
		</tr>
		<tr>
			<!-- The Messiah Will Come Again -->
			<td headers="gmooresuggest"><iframe title="Concert footage of Gary Moore playing The Messiah Will Come Again" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/7k07j7LcLqw"></iframe><p>The Messiah Will Come Again (Live)</p></td>
			<!-- Still Got the Blues -->
			<td headers="gmooresuggest"><iframe title="Concert footage of Gary Moore playing Still Got the Blues" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/4O_YMLDvvnw"></iframe><p>Still Got the Blues (Live)</p></td>
			<!-- Empty Rooms -->
			<td headers="gmooresuggest"><iframe title="Music video of Empty Rooms by Gary Moore" width="260" allowfullscreen referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13b7c2e7701010470b415"></iframe><p>Empty Rooms</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="gmooresuggest"><a href="https://open.spotify.com/artist/23wr9RJZg0PmYvVFyNkQ4j?si=_x_ICHURTBCDJZuiIfWyuQ" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- Jeff Hanneman -->
	<table>
		<tr>
			<th colspan="3" id="jhannemansuggest"><a href="index.html#jhanneman">Slayer (Jeff Hanneman)</a></th>
		</tr>
		<tr>
			<!-- Angel of Death -->
			<td headers="jhannemansuggest"><iframe title="Audio video of Angel of Death by Slayer" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13bd9d64d1f00cd5fb015"></iframe><p>Angel of Death</p></td>
			<!-- Silent Scream -->
			<td headers="jhannemansuggest"><iframe title="Audio video of Silent Scream by Slayer" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13c2030c19900fc0bb2a1"></iframe><p>Silent Scream</p></td>
			<!-- Raining Blood -->
			<td headers="jhannemansuggest"><iframe title="Audio video of Raining Blood by Slayer" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13c6a072fb2012bb1722b"></iframe><p>Raining Blood</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="jhannemansuggest"><a href="https://open.spotify.com/artist/1IQ2e1buppatiN1bxUVkrk?si=Fh5Hitv4RC66sWMlQElzBA" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- John Petrucci -->
	<table>
		<tr>
			<th colspan="3" id="jpetruccisuggest"><a href="index.html#jpetrucci">Dream Theater (John Petrucci)</a></th>
		</tr>
		<tr>
			<!-- Metropolis Part 1 -->
			<td headers="jpetruccisuggest"><iframe title="Audio video of Metropolis Part 1: The Miracle and the Sleeper" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13cd3659d5e016c75f7ec"></iframe><p>Metropolis Part 1: "The Miracle and the Sleeper"</p></td>
			<!-- The Dance of Eternity Live -->
			<td headers="jpetruccisuggest"><iframe title="Concert footage of The Dance of Eternity by Dream Theater" width="260" allowfullscreen referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13d3430c19900fc0bb2da"></iframe><p>The Dance of Eternity (Live)</p></td>
			<!-- Another Day -->
			<td headers="jpetruccisuggest"><iframe title="Music video of Another Day by Dream Theater" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/LYtiDCXLAcQ"></iframe><p>Another Day</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="jpetruccisuggest"><a href="https://open.spotify.com/artist/2aaLAng2L2aWD2FClzwiep?si=oyNuMmuzRAus1dUYgcmgGA" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- Randy Rhoads -->
	<table>
		<tr>
			<th colspan="3" id="rrhoadssuggest"><a href="index.html#rrhoads">Ozzy Osbourne (Randy Rhoads)</a></th>
		</tr>
		<tr>
			<!-- Crazy Train -->
			<td headers="rrhoadssuggest"><iframe title="Audio video of Crazy Train by Ozzy Osbourne" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13e435cdc5e00f055d0a9"></iframe><p>Crazy Train</p></td>
			<!-- Mr. Crowley -->
			<td headers="rrhoadssuggest"><iframe title="Live video of Mr. Crowley by Ozzy Osbourne" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/G3LvhdFEOqs"></iframe><p>Mr. Crowley (Live)</p></td>
			<!-- Diary of a Madman -->
			<td headers="rrhoadssuggest"><iframe title="Audio video of Diary of a Madman by Ozzy Osbourne" width="260" src="https://www.youtube-nocookie.com/embed/pvydib00yXk"></iframe><p>Diary of a Madman</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="rrhoadssuggest"><a href="https://open.spotify.com/artist/6ZLTlhejhndI4Rh53vYhrY?si=dU3FmTl2Q2q6RrgDysWizA" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- Steve Vai -->
	<table>
		<tr>
			<th colspan="3" id="svaisuggest"><a href="index.html#svai">Steve Vai</a></th>
		</tr>
		<tr>
			<!-- For the Love of God -->
			<td headers="svaisuggest"><iframe title="Concert footage of Steve Vai playing For the Love of God" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/9IrWyZ0KZuk"></iframe><p>For the Love of God (Live)</p></td>
			<!-- Whispering a Prayer -->
			<td headers="svaisuggest"><iframe title="Concert footage of Steve Vai playing Whispering a Prayer" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/8KUSkGeaUPU"></iframe><p>Whispering a Prayer (Live)</p></td>
			<!-- Tender Surrender -->
			<td headers="svaisuggest"><iframe title="Concert footage of Steve Vai playing Tender Surrender" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/Yw74sDWPH7U"></iframe><p>Tender Surrender (Live)</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="svaisuggest"><a href="https://open.spotify.com/artist/32Jb1X3wSmmoHj2epZReZA?si=76lSL8jNQjaab-CY2NsCRw" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- Stevie Ray Vaughan -->
	<table>
		<tr>
			<th colspan="3" id="srvsuggest"><a href="index.html#srv">Stevie Ray Vaughan</a></th>
		</tr>
		<tr>
			<!-- Voodoo Child (Live) -->
			<td headers="srvsuggest"><iframe title="Concert footage of Stevie Ray Vaughan playing Voodoo Child" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/cFwTbsKkqxE"></iframe><p>Cover of Voodoo Child by Jimi Hendrix (Live)</p></td>
			<!-- Texas Flood (Live) -->
			<td headers="srvsuggest"><iframe title="Concert footage of Stevie Ray Vaughan playing Texas Flood" width="260" allowfullscreen referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13e85f274040086625ee8"></iframe><p>Texas Flood (Live)</p></td>
			<!-- Pride and Joy -->
			<td headers="srvsuggest"><iframe title="Audio video of Pride and Joy by Stevie Ray Vaughan" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13ee74482f8007b564224"></iframe><p>Pride and Joy</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="srvsuggest"><a href="https://open.spotify.com/artist/5fsDcuclIe8ZiBD5P787K1?si=tpCf6uetTlquGtXqq8VbHg" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
	<!-- Yngwie Malmsteen -->
	<table>
		<tr>
			<th colspan="3" id="ymalmsteensuggest"><a href="index.html#ymalmsteen">Yngwie Malmsteen</a></th>
		</tr>
		<tr>
			<!-- Trilogy Suite Op: 5 -->
			<td headers="ymalmsteensuggest"><iframe title="Audio video of Trilogy Suite Op: 5 by Yngwie Malmsteen" width="260" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/61b13f4fdc9dc900718a7442"></iframe><p>Trilogy Suite Op: 5</p></td>
			<!-- Caprici Di Diablo -->
			<td headers="ymalmsteensuggest"><iframe title="Audio video of Caprici Di Diablo by Yngwie Malmsteen" width="260" src="https://www.youtube-nocookie.com/embed/FCNZzI7cHDA"></iframe><p>Caprici Di Diablo</p></td>
			<!-- Blackstar (Live) -->
			<td headers="ymalmsteensuggest"><iframe title="Concert footage of Yngwie Malmsteen playing Blackstar" width="260" allowfullscreen src="https://www.youtube-nocookie.com/embed/QvMKsgVBzMo"></iframe><p>Blackstar (Live)</p></td>
		</tr>
		<tr>
			<td colspan="3" headers="ymalmsteensuggest"><a href="https://open.spotify.com/artist/5DpSoH5zCXNRqYai7pmcGG?si=YQu_3fXyRBGy-mVMh9FMYQ" target="_blank">Artist's Spotify</a></td>
		</tr>
	</table>
</main>
{% endblock %}