{% extends "adminbase.html" %}
{% block main %}
<table class="admintable">
    <tr>
        <th>Guitarist</th>
        <th>Description</th>
        <th>Picture</th>
        <th>Link</th>
        <th>Delete?</th>
    </tr>
    {% for info in guitaristinfo %}
    <tr>
        <td>{{info[1]}}</td>
        <td>{{info[2]}}</td>
        <td>{{info[3]}}</td>
        <td>{{info[4]}}</td>
        <td><a href="/deleteguitarist/{{info[1]}}">DELETE</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}